@import "nib";

$main-color = #f39f18
$headers-color = #2c3949

$base_font_size = 15

$base_font_size_ems = unit($base_font_size / 15, em)

$px = unit(1 / $base_font_size, rem)

$px_em = unit(1 / $base_font_size, em)

body
  font-size: 15px
  min-width: 320px
  position: relative
  line-height: 22 * $px_em
  font-family: "RobotoBold", sans-serif
  overflow-x: hidden
  color: #333
  

.hidden
  display: none
  
a, a:hover, a:focus, a:active
  color: $main-color
  text-decoration: underline

.headers
  font-family "PFCentroSlabProMedium", sans-serif
  text-transform: uppercase
  font-weight: normal
  color $headers-color

h1,h2,h3,h4,h5,h6
  @extend .headers
  
h1
  font-size: 48 * $px_em;
h2
  font-size: 30 * $px_em;
h3
  font-size: 24 *$px_em;

b, strong
  font-family: "RalewayBold", sans-serif;

.before
  content ''
  width: 100%
  height 100%
  position absolute
  left:0
  top: 0

.trans
  transition: all .5s ease

.ulmnu
  list-style none
  margin 0
  padding 0
  li
    display inline-block


.main-head
  h1
    text-transform: none;
  min-height 620px
  -webkit-background-size: cover
  background-size: cover
  background-position: center;
  position relative
  &::before
    @extend .before
    background-color: #394b5f;
    opacity .85
    
  .top-line
    min-height: 160px
    background-image: url(../img/top_gradient.png)
    background-repeat repeat-x
    padding-top: 45px;

  .logo
    opacity .95
    img
      width 100px

  .main-mnu
    font-family: RalewayRegular,sans-serif
    font-size: 14 * $px_em
    li
      line-height 48px
      padding: 0 10px;
      &.active
        a
          color: $main-color;
          text-decoration: underline
      a:hover
        color: $main-color;
        text-decoration: underline



    ul  
      @extend .ulmnu
    a
      text-decoration: none
      color white

.phone-wrap
  position relative
  .phone
    opacity: .9
    color white
    font-family: RobotoBold, sans-serif
    font-size: 19 * $px_em;
    line-height: 48px
    text-align: right
    white-space: nowrap
  .toggle-mnu
    position absolute
    top 0
    right 0
    display: block
    width: 28px
    height: 28px
    padding-top: 20px

  .toggle-mnu span:after,
  .toggle-mnu span:before
    content: ""
    position: absolute
    left: 0
    top: -9px

  .toggle-mnu span:after
    top: 9px

  .toggle-mnu span
    position: relative
    display: block

  .toggle-mnu span,
  .toggle-mnu span:after,
  .toggle-mnu span:before
    width: 100%
    height: 2px
    background-color: white
    border-radius: 2px
    transition: all 0.3s

  .toggle-mnu.on span
    background-color: transparent

  .toggle-mnu.on span:before
    transform: rotate(45deg) translate(5px, 5px)

  .toggle-mnu.on span:after
    transform: rotate(-45deg) translate(7px, -8px)
