@import "nib";
@import "/import/_var.styl";
@import "/import/magnific-popup.styl";
@import "/import/owlcarousel.styl";




//Custom Styles
.homesect
  padding-top: 70px
  background-color: #f9f9f9
  font-family: RalewayRegular, sans-serif
  position: relative
  .section-head
    margin-bottom: 60px
    a
      font-family: RalewayBold, sans-serif
      &:hover
        text-decoration: none
    h2
      text-align center
      &:after
        display block
        margin 25px auto
        content ''
        width 165px
        height 4px
        background-color: $main-color
    h3
      text-align center
      margin-top: 50px
    p
      text-align: center
  .section-bottom
    background-color: #2C3949
    padding 50px 0
    text-align center
  &:before
    content: ''
    top -6px
    height: 6px
    width: 100%
    background-image url("../img/bah_11.png")
    position absolute

.section-content
  position: relative
  &.section_1
    background-image: url(../img/s1_gray_bg.png);
    background-repeat no-repeat
    background-position top
  .s1-bottom-triangle
    height: 98px
    width 100%
    bottom: 415px
    background-image: url(../img/s1_triangle.svg)
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    position absolute
    .triangle-logo
      width: 116px
      margin-top 30px
      position absolute
      left 50%
      z-index 3
      transform: translateX(-50%);
    .scales
      width 160px
      position absolute
      top -130px
      left 50%
      transform: translateX(-50%)
.s1-bottom
  padding 15px 0 65px
  background-color: #394b5f
  margin-top: 50px
  .info-item
    margin 15px 0 0
    p
      color white
      border-color: #546476
    &.center
      margin-top: 45px
  
.info-item
  padding-left: 34px
  max-width: 264px;
  line-height: 20 * $px_em
  margin 40px 0
  &.center
    margin-top 0
  h4
    margin-top: 0
    margin-bottom: 10px
    a
      font-size: 24 * $px_em
      text-transform: none
  p
    font-size: 15 * $px_em
    border-bottom: #DEE1E5 1px solid
    padding-bottom: 20px
    
.s2-items
  padding-bottom: 40px
  .s2-item
    text-align: center
    color #111
    display block
    margin-bottom: 70px
    > span
      display: block
  .img-wrap
    display inline-block
    padding-bottom: 32px
    margin-bottom: 12px
    box-shadow: 0 40px 0px -39px $main-color;
    img
      max-width: 80px
      height: 65px
  .s2-item-text
    font-family: RalewayBold, sans-serif
    font-size: 13 * $px_em
    line-height: 20* $px_em
.s2-items-wrap
  text-align: center
.s2-item-wrap
  display: inline-block
  vertical-align: top
  width: 185px
  padding 0 15px
  
.section_2
  .section-bottom
    background-color: #e5e5e5
    
.s_dark
  background-color: #2c3949;
  &:before
    background-image: url(../img/bah_2.png)
  .section-head
    h2,p
      color white
  .section-bottom
    background-color: #394b5f
    
.section_3
  .section-content
    min-height: 850px
    background-image: url(../img/s3_sun_bg.png)
    background-position: center
    background-repeat: no-repeat
    padding-top 50px
    .img-wrap-folder
      width 130px
      height: 130px
      background-color: $main-color
      text-align: center
      margin 57px 0 0 115px
      border-radius 10em
      img
        width 70px
        margin-top 29px
        
    .info-item
      p
        color white
        border-bottom: none
      margin-top: 80px
      &.left-item, &.right-item
        margin-top 50px
      &.right-item
        margin-left 20px
      &.center
        margin-top: 30px
      &.center-bottom
        margin-top: 160px
      &.left-top-item, &.left-bottom-item
        margin-left 82px
      &.right-top-item, &.right-bottom-item
        margin-left -30px
        
.s_gray
  background-color: #e5e5e5
  &:before
    background-image: url(../img/bah_3.png)
  .section-bottom
    background-color: #d6d6d6
  h3
    color #394b5f

.section-pb
  padding-bottom 70px

.cards
  text-align: center
  perspective 600px
  .card
    width 260px
    display: inline-block
    background-color: #2c3949
    margin 5px 12px
    color: #97a4b2
    font-size: 14 * $px_em
    line-height: 22 * $px_em
    padding 54px 28px 48px
    vertical-align top
    transition all 1s ease
    opacity 1
    border-bottom: 4px solid #162849;
    &-off
      transform rotateY(100deg)
      opacity 0
    .card-icon
      width: 120px
      height: 120px
      background-color: $main-color;
      border-radius 10em
      display: inline-block
      line-height 120px
      img
        width: 75px
    h4
      color: #e5e5e5
      font-family: RalewayBold, sans-serif
      text-transform: uppercase
      font-size: 18 *$px_em
      margin-top:30px
      margin-bottom: 18px
    p
      margin: 0
      strong
        color: $main-color

.triangles-container
  color white
  font-family: PFCentroSlabProMedium, sans-serif
  font-size: 19 * $px_em
  margin 0px 0 70px
  text-align: center
  .tc-item
    width: 290px
    height: 128px
    display inline-block
    position relative
    margin-left -45px
    vertical-align top
    transition  all .5s ease
    &:first-child
      margin-left 0
      .tc-content
        margin-left: 40px
    &:hover
      transform: scale(1.1)
      path
        fill-opacity 0 !important
        stroke-opacity 1 !important
    svg
      position absolute
      top 0
      left 0
      z-index 0
    .tc-content
      position relative
      z-index: 1
      margin-top: 43px
      margin-left 55px
      text-align left
      padding-right 20px
      span
        font-size: 20 * $px_em;
        display: inline-block;
        float left
        height 30px
        padding-right 5px
      img
        height: 38px
        float left
        margin-right: 15px

.teams
  @extend .cards
  .team
    @extend .cards .card
    background-color: #e5e5e5
    border-color #d6d6d6
    .card-icon
      background-color: #d6d6d6
      box-shadow 0 0 0 5px #d6d6d6
      line-height 0
      overflow hidden
      img
        width 100%
    h4
      color: #333333
      text-transform none;
      margin-bottom: 5px
    p
      color: #6e7b8b
    .team-phone
      margin-top 20px
      font-family: RobotoBold, sans-serif
      color: #333333;
      font-size: 18 *$px_em
      
.slider
  margin-bottom: 10px
  .slide
    text-align: center
    margin-bottom: 20px
    position relative
  .owl-item
    .img-wrap, .slide-descr, h3, p
      opacity 0
      transition all .5s ease
      transform translate3d(150px,0,0)
      transition-delay .1s
    .slide-descr, h3
      transition-delay .4s
    p
      transition-delay .6s
    &.active
      .img-wrap, .slide-descr, h3, p
        opacity 1
        transform translate3d(0,0,0)
    .img-wrap
      width: 116px;
      height: 116px;
      display: inline-block
      border-radius 10em;
      overflow: hidden
      box-shadow: 0 0 0 7px $main-color
      margin-top 7px
      img
        width 100%
        transform-style flat
    h3
      text-transform: none
      margin-bottom: 0
      font-size: 24 *$px_em
    .slide-descr
      margin-top: 10px
      font-size: 14 * $px_em
      color #6e7b8b
  .owl-controls
    text-align center
    .owl-dot
      width: 15px
      height: 15px
      background-color: #ccc
      display inline-block
      border-radius 15px
      margin:0 5px
      &.active
        background-color: $main-color
    .owl-nav
      div
        height 29px
        width 16px
        background-image: url(../img/slider_arrows.png)
        display inline-block
        position absolute
        top 13%
        left 20px
        opacity .4
        transition all .25s ease
        &:hover
          opacity 1
        &:last-child
          right 20px
          left auto
          background-position: -16px 0;
          
.section-8
  padding-top 80px
  .forms
    background-color: #DDDDDD
    border-color: #828282
    h4
     color #2c3949
    p
      color #5e6267
    input, input:focus
      background-color: #C0C0C0
      color #333
  .section-head
    h2
      margin-top 0
    h2, h2:after, p
      text-align: left
    h2:after
      margin 25px 0

.s8-items
  margin-bottom 20px
  .s8-item
    text-align center
    .img-wrap
      height: 72px
      img
        height 100%
    p
      font-family: RalewayBold, sans-serif
      font-size: 13 * $px_em
      line-height 19 * $px_em
      margin-bottom 10px

footer
  min-height auto
  padding-bottom 70px
  .logo
    opacity .35
  .phone-wrap
    .phone
      opacity .35
  .main-mnu
    a
      color #c7c9cc
  &:before
    background-color: transparent
    opacity 1


//ALWAYS END
@import "/import/_media.styl";

